<!DOCTYPE html>
<html>
    <head>
        <title>Add your pet!</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Add your pet!</h1>

        <form id="AnimalProfile_form" method="post" action="/lasercats/add_animalprofile/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Create pet profile!" />
        {% else %}
        <h1>Log in to add a pet!</h1>
        <a href="/lasercats/register/">Register Here</a><br />
        <a href="/lasercats/login/">Login</a><br />
        {% endif %}
        </form>
    </body>

</html>