{% extends 'laser_cats/base.html' %}

{% load staticfiles %}

{% block title %}Welcome to Laser Cats{% endblock %}

{% block body_block %}
    <body>
        {% if user.is_authenticated %}
        <h1>Laser Cats says... hello {{ user.username }}!</h1>
        {% else %}
        <h1>Laser cat says...hello world!</h1>
        {% endif %}


        
                

        {% if animalprofiles %}
            <ul>
                {% for animalprofile in animalprofiles %}
                <li><a href="/lasercats/animalprofile/{{animalprofile.slug}}">{{animalprofile.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pet profiles present.</strong>
        {% endif %}

    
{% endblock %}