{% extends 'laser_cats/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
{% if user.is_authenticated %}
    <div class="page-header">

                <h1>Laser Cats says... hello {{ user.username }}!</h1>
            {% else %}
                <h1>Laser Cats says... hello!</h1>
            {% endif %}
</div>

         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h3>Popular pets!</h3>

        {% if animalprofiles %}
            
                {% for animalprofile in animalprofiles %}
							<h4>								
								<a href="{% url 'goto' %}?animalprofile_id={{animalprofile.id}}">{{ animalprofile.name }}</a>
							{% if animalprofile.views > 1 %}
								({{ animalprofile.views }} views)
								{% elif animalprofile.views == 1 %}
								({{ animalprofile.views }} view)
                            {% endif %}
							{% if animalprofile.likes > 1 %}
								({{ animalprofile.likes }} likes)
								{% elif animalprofile.likes == 1 %}
								({{ animalprofile.likes }} like)
                            {% endif %}
								</br>
								</h4>
							
                <!--<li><a href="/lasercats/animalprofile/{{animalprofile.slug}}">{{animalprofile.name}}</a></li>-->
                {% endfor %}
				
				
            
        {% else %}
            <strong>There are no pet profiles present.</strong>
        {% endif %}


            </div>


          </div>


		  
		         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h3>Popular pictures!</h3>

        {% if animalpictures %}
            
                {% for animalpicture in animalpictures %}
							<h4>								
			                <a href="{{ animalpicture.picture.url }}">
							<img src={{animalpicture.picture.url }} width = "200" height="120"></a>
							<h4>{{ animalpicture.title }}</h4>
							<h5>{{ animalpicture.caption }}</h5>
							</br>
								</br>
								</h4>
							
                <!--<li><a href="/lasercats/animalprofile/{{animalprofile.slug}}">{{animalprofile.name}}</a></li>-->
                {% endfor %}
				
				
            
        {% else %}
            <strong>There are no pet profiles present.</strong>
        {% endif %}


            </div>


          </div>
      
        {% endblock %}