{% extends 'pawcrastination/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
   <!-- <li data-target="#myCarousel" data-slide-to="2"></li>-->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
	</br>
		{% if user.is_authenticated %}
      <h1>Welcome back to Pawcrastination {{ user.username }}!</h1></br>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pawcrastinate your time away with all the cute things!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Browse pictures all day long!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Like that fluffy thing 200 times!!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waste ALL the time!</h4>
	{% else %}
       <h1>Welcome to Pawcrastination!</h1></br>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pawcrastinate your time away with all the cute things!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Browse pictures all day long!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Like that fluffy thing 200 times!!</h4>
	   <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waste ALL the time!</h4>
	  {% endif %} 
	  <h6>&nbsp;</h6>

    </div>


    <div class="item">
	</br>
            <h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;About the team!</h1></br>
	   <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Vincent - The awesome one</h4>
	   <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Cameron - The weird one</h4>
	    <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Stephanie - The wee one</h4>
		 <h4>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Pawel - The beardy one</h4>
	  <h6> &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;____________________________</h6>
	 
    </div>
  </div>


</div>


         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h3>Popular pets!</h3>

        {% if animalprofiles %}
            
                {% for animalprofile in animalprofiles %}
							<h4>								
								<a href="{% url 'goto' %}?animalprofile_id={{animalprofile.id}}">{{ animalprofile.name }}</a>
							{% if animalprofile.views > 1 %}
								({{ animalprofile.views }} views)
								{% elif animalprofile.views == 1 %}
								({{ animalprofile.views }} view)
                            {% endif %}
							{% if animalprofile.likes > 1 %}
								({{ animalprofile.likes }} likes)
								{% elif animalprofile.likes == 1 %}
								({{ animalprofile.likes }} like)
                            {% endif %}
								</br>
								</h4>
							
                <!--<li><a href="/pawcrastination/animalprofile/{{animalprofile.slug}}">{{animalprofile.name}}</a></li>-->
                {% endfor %}
				
				
            
        {% else %}
            <strong>There are no pet profiles present.</strong>
        {% endif %}


            </div>


          </div>


		  
		         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">
               <h3>Popular pictures!</h3>


        {% if animalpictures %}
            
                {% for animalpicture in animalpictures %}
							<h4>
							<!--<button id="picture-pop" href = "{{ animalpicture.picture.url }}" > Click Me - I'm Javascript on Speed</button>-->
							<a href="{{ animalpicture.picture.url }}">
							<img src={{animalpicture.picture.url }} width = "200" height="120"></a></br></br>
							<a href="{% url 'goto' %}?animalprofile_id={{animalpicture.user.id}}">{{ animalpicture.user.name }}</a>
							<h4>{{ animalpicture.title }}</h4>
							
							<h5>{{ animalpicture.caption }}</h5>
							</br>
								</br>
								</h4>
							
                <!--<li><a href="/pawcrastination/animalprofile/{{animalprofile.slug}}">{{animalprofile.name}}</a></li>-->
                {% endfor %}
				
				
            
        {% else %}
            <strong>There are no pet pictures present.</strong>
        {% endif %}


            </div>


          </div>
      
        {% endblock %}