{% extends "pawcrastination/base.html" %}
{% block body_block %}
	<h1>Register with Pawcrastination</h1>
	{% if registered %}
		<strong>thank you for registering!</strong>
		<a href="/pawcrastination/">Return to the homepage.</a><br />
	{% else %}
		Pawcrastination says: <strong>register here!</strong><br />
		<form id="user_form" method="post" action="/pawcrastination/register/"
		enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
{% endblock %}